body {
    background-image: url(lion_laughing.jpeg);
    border: 25 groove orangered;
}
h1 {
    color: blue;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 177px;
    font-weight: bolder;
    letter-spacing: -57px;
    line-height: -1;

    text-align: right;
    background-image: linear-gradient(aqua, yellow), repeating-linear-gradient(red, green);
    animation: h1anime 5s infinite;
}


h3 {
    color: deeppink;
    font-size:14px;
    border-style: groove;
    border: 5px groove mediumblue;
}

p {
    color: #b82e8e;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 22 33 24px;
    text-align: justify ;
    text-justify: inter-word;
    background-color: green;
    opacity: 80%;
}

textarea {
    margin: 20px;
    width: 300px;
    height: 150px;
    border: 15px dotted blueviolet;  
}

ul, ol {
    margin: 20px;
    padding: 45;
    offset-position: left;
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid purple;
    offset-position: center;
    color: indianred;
}

li:last-child {
    border: 4px double orange;
}

form {
    height:110px;
    width:190px;
    margin:auto;
    border:23px brown solid;
    padding:10px;
}
    
input, textarea {
    padding:5px;
    margin:5px;
    margin-top: 10px;
}

button {
    float: left;
    color: blue;
}